<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.roy.logcanary.op"
    tools:ignore="MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!--悬浮窗口权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--锁屏后台运行-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />

    <!--处理眼镜端打印多条none protected broadcast的多雾-->
    <protected-broadcast android:name="intent_action_filter_log_event" />

    <application>
        <activity
            android:name=".component.ApplyAlertWindowPermissionActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@style/ActivityThemeTransparent" />

        <activity
            android:name=".component.LogListActivity"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="cn.roy.logcanary.${applicationId}"
            android:theme="@style/ActivityThemeNoTitle">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>

        <!--桌面快捷方式-->
        <activity-alias
            android:name="cn.roy.logcanary.op.component.FloatLogLauncherActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_float_log"
            android:label="Logs"
            android:targetActivity=".component.LogListActivity"
            android:taskAffinity="cn.roy.logcanary.${applicationId}">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name=".component.LogService"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.roy.logcanary.op.${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <provider
            android:name=".LogCanaryContentProvider"
            android:authorities="cn.roy.logcanary.op.${applicationId}.LogCanaryContentProvider"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
